<div class="g-home-custom">
    <div class="contact-wrap">
        <div class="container">
            <div class=" row ot2-row contact-section">
            <div class="col-12 col-xl-6 ct-container1  d-flex flex-column justify-content-center ">

                <div class="h-section-title ">
                    联系我们
                </div>
                <div class="contact-content">

                    <div class="ct-content">如何了解更多关于多用户虚拟化桌面解决方案的信息？</div>
                    <div class="ct-content">您可以通过以下方式联系我们：</div>
                    <ul class="ct-content ct-list">
                        <li>访问我们的官方网站</li>
                        <li>拨打客户服务热线</li>
                        <li>发送邮件至我们的客户支持邮箱</li>
                    </ul>

                    <div class="ct-content">这种解决方案适合什么规模的企业？</div>
                    <div class="ct-content">我们的解决方案适用于各种规模的企业，从小型办公室到大型企业都能受益。我们会根据您的具体需求提供定制化方案。</div>

                </div>
            </div>

            <div class="col-12 col-xl-6  img-container2 d-flex flex-column justify-content-center">
                <div class="num-content">
                    <div class="showcase-img">
                        <img class="" style="width: 100%;" src="{{ relLangURL "images/gamma/client-service.jpg" }}" />
                    </div>
                </div>
            </div>



        </div>
        </div>
    </div>

</div>
