<div class="g-home-custom">
    <div class="row text-black-61">
        <div class="hero-wrap  ">

            <div class="dark-layer">

                <div class="hero-text-wrap">
                    <div class="h-title" >高效且经济的桌面虚拟化解决方案</div>

                    <div  >融合本地显示与动态资源调度的下一代办公架构，一种创新的计算机解决方案，兼顾性能、经济性和易管理性。通过分时复用原则，实现资源的最大化利用。</div>

                    <div class="h-button">
                        <a class="btn btn-primary" href="{{ relLangURL "contact" }}" >联系我们</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
