<div class="g-home-custom">
    <div class="showcase-wrap">
        <div class="container">

            <div class=" row ot2-row showcase-section">

                <div class="h-section-title ">
                    应用场景
                </div>

                <div class="col-12 col-xl-6 img-container1 ">
                    <div class="num-content">
                        <div class="showcase-img">
                            <img class="" style="width: 100%;" src="{{ relLangURL "images/gamma/office.jpg" }}" />
                        </div>
                        <div class="n-title ">企业办公</div>
                        <div class="n-content"> 提高办公效率，降低IT成本。</div>
                    </div>
                </div>

                <div class="col-12 col-xl-6  img-container2 ">
                    <div class="num-content">
                        <div class="showcase-img">
                            <img class="" style="width: 100%;" src="{{ relLangURL "images/gamma/meeting-room.jpg" }}" />
                        </div>
                        <div class="n-title ">教育培训</div>
                        <div class="n-content">创新教学模式，提升学习体验。</div>
                    </div>
                </div>



            </div>

        </div>

    </div>

</div>
